.book {
  .details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  button.medium {
    padding: 0;
    width: 24px;
    height: 24px;
    border: 0;
    transition: all 0.2s;

    &:hover {
      background: none;
    }

    &:hover:not(.empty) {
      transform: scale(1.1);
      text-shadow: 1px 1px hsl(0 0 0/0.1);
    }

    &.empty {
      border: 1px dotted var(--border-colour);
      &:hover {
        border-width: 2px;
      }
    }
  }
}
