.book {
  .emoji-checkbox {
    opacity: 0.4;
    filter: grayscale(60%);
    text-shadow: none;

    &.done {
      opacity: 1;
      filter: none;
      text-shadow: 1px 1px hsl(0 0 0/0.1);
    }
  }
}
