.windwaker {
  display: flex;
}

.windwaker ul {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  padding-inline: 0;
  gap: 6px;
  font-size: 1.2em;
  justify-items: center;

  li {
    .tooltip-container {
      display: flex;
      gap: 0;
    }

    &:hover .tooltip {
      opacity: 1;
    }

    .icon {
      margin-inline-end: 4px;
    }
  }

  label.emoji-checkbox {
    div:not(.tooltip),
    img {
      opacity: 0.4;
    }

    &.done {
      filter: none;

      div:not(.tooltip),
      img {
        opacity: 1;
      }
    }
  }

  .double-magic-meter {
    width: 30px;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 10px;
      border: 1px solid white;
      border-radius: 4px;
      background: linear-gradient(#32f751, #00aa1c 90%);
      box-shadow: 0 0 3px hsl(0 0% 0%/0.8);
      margin-block-end: 2px;
    }
  }
}
