.description {
  border: none;
  border-radius: 0;
  padding-inline-start: 0;
  padding-inline-end: 40px;
  padding-block-start: 0;
  font-family: inherit;
  font-size: inherit;

  &:focus-visible {
    outline: none;
  }
}

.due-date {
  width: auto;
  flex-grow: 1;
  padding-inline-start: 0;
  border: 0;
  &:focus-visible {
    outline: none;
  }
}

.form-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 0.8em;
  font-weight: bold;
}
