.drop-indicator {
  --line-offset: -5px;
  --stroke-size: 2px;
  --terminal-radius: 4px;
  --terminal-diameter: calc(var(--terminal-radius) * 2);
  --offset-to-align-terminal-with-line: calc(
    (var(var(--stroke-size) - var(--terminal-diameter)) / 2)
  );
  position: absolute;
  background-color: blue;
  pointer-events: none;
  height: var(--stroke-size);
  left: var(--terminal-radius);
  right: 0;

  &::before {
    content: "";
    position: absolute;
    left: calc(-1 * var(--terminal-diameter));
    width: var(--terminal-diameter);
    height: var(--terminal-diameter);
    border: var(--stroke-size) solid;
    border-color: blue;
    border-radius: 10000px;
  }
  &.top {
    top: var(--line-offset);

    &::before {
      top: var(--offset-to-align-terminal-with-line);
    }
  }
  &.bottom {
    bottom: var(--line-offset);

    &::before {
      bottom: var(--offset-to-align-terminal-with-line);
    }
  }
}

.task-button {
  background-color: transparent;
  opacity: 0.6;
  transform: opacity 0.2s;
  height: 16px;
  font-size: 16px;
  min-width: fit-content;

  &:hover {
    background-color: transparent;
    opacity: 1;
  }
  &:active {
    background-color: transparent;
    opacity: 1;
  }
}
