.new-list-modal-container {
  position: sticky;
  top: 20px;
  z-index: 1;
  display: flex;
  justify-content: end;
}

ol.work-lists {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  padding: 0;
  margin: 0;
}
