.work-task-list {
  --margin-width: 30px;
  --margin-colour: hsl(330 60% 85%);
  --line-colour: hsl(200 90% 80%);
  --line-gap: 39px;
  --line-width: 1px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 316px;
  font-family: "Shadows Into Light", sans-serif;
  cursor: text;
  background: linear-gradient(
    to right,
    transparent,
    transparent var(--margin-width),
    var(--margin-colour) var(--margin-width),
    var(--margin-colour) calc(var(--margin-width) + 2px),
    transparent calc(var(--margin-width) + 2px)
  );

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid var(--line-colour);
    padding-inline-start: calc(var(--margin-width) + 8px);

    h2 {
      margin-block-end: 0;
      position: relative;
      top: 10px;
      font-size: 1.8em;
    }
  }

  ul {
    flex-grow: 1;
    line-height: 1;
    list-style-type: none;
    margin-block: 0;
    padding: 0;
    background: repeating-linear-gradient(
      transparent,
      transparent var(--line-gap),
      var(--line-colour) var(--line-gap),
      var(--line-colour) calc(var(--line-gap) + var(--line-width)),
      transparent calc(var(--line-gap) + var(--line-width))
    );
  }

  li {
    height: calc(var(--line-gap) + var(--line-width));
    position: relative;
    top: 4px;
  }
}

li.task:last-child {
  margin-block-end: 40px;
}

.tag {
  font-family: "sans-serif";
  padding: "4px 8px";
  border-radius: "3px";
  font-size: "16px";
  color: "white";
  width: "fit-content";
  transition: "opacity .2sx";
  background-color: var(--colour);

  .delete-button {
    border-radius: 1000px;
    position: absolute;
    inset-inline-end: 0;
    inset-inline-start: 0;
    transform: translate(50%, -35%);
    padding: 2px;
    background-color: white;
    color: var(--colour);
    border-color: var(--colour);

    &:hover {
      border-color: white;
      background-color: var(--colour);
      color: white;
      transition: all 0.2s;
    }
  }
}

button.tag {
  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }
  &:focus {
    outline: 2px solid rebeccapurple;
  }

  :has(+ :hover) {
    opacity: 0.6;
  }
}
