.work-task-list {
  --margin-width: 30px;
  --margin-colour: hsl(330 60% 85%);
  --line-colour: hsl(200 90% 80%);
  --line-gap: 39px;
  --line-width: 1px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 316px;
  font-family: "Shadows Into Light", sans-serif;
  cursor: text;
  background: linear-gradient(
    to right,
    transparent,
    transparent var(--margin-width),
    var(--margin-colour) var(--margin-width),
    var(--margin-colour) calc(var(--margin-width) + 2px),
    transparent calc(var(--margin-width) + 2px)
  );
  order: 2; /* required to make the drag preview appear in the right place */

  .heading {
    display: flex;
    align-items: end;
    border-bottom: 2px solid var(--line-colour);

    h2 {
      margin-block-end: 0;
      position: relative;
      top: 10px;
      font-size: 1.8em;
      flex-grow: 1;
    }
  }

  ul.tasks {
    flex-grow: 1;
    line-height: 1;
    list-style-type: none;
    margin-block: 0;
    padding: 0;
    background: repeating-linear-gradient(
      transparent,
      transparent var(--line-gap),
      var(--line-colour) var(--line-gap),
      var(--line-colour) calc(var(--line-gap) + var(--line-width)),
      transparent calc(var(--line-gap) + var(--line-width))
    );

    &.is-dragging-over {
      background-color: hsl(200 90% 80%/0.2);
    }
  }

  li.task {
    min-height: calc(var(--line-gap) + var(--line-width));
    position: relative;
    top: 4px;
    .drag-handle,
    .task-menu {
      opacity: 0;
    }

    &:hover {
      .drag-handle,
      .task-menu,
      .add-metadata {
        opacity: 1;
      }
    }

    button.add-metadata {
      margin-inline-start: -8px;
      opacity: 0;
    }
  }

  li.task:last-child {
    margin-block-end: 40px;
  }
}

.inline {
  margin-block-end: -0.3em;
}

input.inline {
  border: none;
  background: transparent;
  width: 100%;
  padding-block-end: 0;

  &:focus {
    outline: none;
  }
}

form.add-task {
  input {
    font-size: 1.4rem;
    font-family: inherit;
  }

  .button-container {
    display: flex;
    justify-content: end;
    gap: 4px;

    button {
      padding: 8px;
      background: white;
    }
  }

  [role="option"] {
    cursor: pointer;
  }

  .multi-value-container input {
    padding-block: 4px;
    border-style: solid;
    border-color: var(--border-colour);
  }

  ul.values li.value {
    border: 0;
    padding: 0;
  }
}

.label-tag {
  &.blue {
    --colour: hsl(200 80% 50% / 0.3);
  }
  &.yellow {
    --colour: hsla(59, 95%, 63%, 0.6);
  }
  &.purple {
    --colour: hsl(280 80% 50% / 0.25);
  }
  &.green {
    --colour: hsl(125 80% 50% / 0.3);
  }
  &.orange {
    --colour: hsla(25, 94%, 52%, 0.3);
  }
  &.red {
    --colour: hsla(303, 80%, 50%, 0.3);
  }

  button {
    padding: 2px;
    margin-inline-start: 4px;

    &.transient {
      width: 0;
      overflow: hidden;
      margin-inline-start: 0;
      transition: width 0.2s;
    }
  }

  &:hover button.transient,
  button.transient:focus {
    width: 20px;
    margin-inline-start: 4px;
  }

  background-color: var(--colour);
  text-transform: uppercase;
  font-weight: bold;
  width: max-content;
  font-size: 1.2rem;
  padding: 4px;
}
