.today-task {
  display: flex;
  width: 100%;
  font-size: 18px;
  transition: all 0.2s ease-in;
  gap: 8px;

  button:last-child {
    flex-grow: 1;
    text-align: end;
  }

  &.status-done,
  &.status-finished {
    opacity: 0.4;
  }
}
