.today-task {
  &.status-done,
  &.status-finished {
    opacity: 0.4;

    .editable-description > div {
      text-decoration: line-through;
    }
  }

  &.type-毎日 .editable-description > :last-child {
    font-style: italic;
  }
}
