.todo-task-list {
  fieldset {
    border: 0;
    padding: 0;
  }

  .combobox {
    input {
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
      padding: 8px;
    }

    .single-value-container {
      left: 8px;
      top: 8px;
    }
  }
}
