.confirmation {
  font-size: 0.8em;
  color: white;
  background: hsl(160 80% 30%);
  border-radius: 4px;
  padding-block: 4px;
  padding-inline: 8px;
  box-shadow: 2px 2px 8px hsl(0 0 0/0.4);
  animation: drift 1s linear;
  position: absolute;
  right: 0;
  opacity: 0;
}

@keyframes drift {
  from {
    translate: 100% 0;
    opacity: 1;
  }
  to {
    translate: 100% -400%;
    opacity: 0;
  }
}
