label.checkbox {
  --checkbox-size: 0.8em;
  cursor: pointer;

  .control {
    color: var(--body-colour-light);
    border: 2px solid;
    width: var(--checkbox-size);
    aspect-ratio: 1;
    border-radius: 4px;

    svg {
      display: none;
    }
  }

  &.tick-for-done {
    display: inline-flex;
    width: var(--checkbox-size);
    aspect-ratio: 1;

    .control {
      border-radius: 50%;
    }
  }

  input {
    width: 0;
    overflow: hidden;
    position: fixed;
    left: -100%;
  }

  &:focus-within .control {
    border-color: var(--body-colour);
  }

  &:has(input:checked) .control svg {
    display: block;
  }
}
