[popover] {
  inset: unset;
  border-radius: 6px;
  position: absolute;
}

:popover-open {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  box-shadow: 2px 2px 2px hsl(0 0% 0%/0.1), 2px 2px 4px hsl(0 0% 0%/0.1),
    2px 2px 8px hsl(0 0% 0%/0.1), 2px 2px 16px 8px hsl(0 0% 0%/0.1);

  [role="menuitem"] {
    border: 0;
    border-radius: 0;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--body-colour);
    font-size: 1rem;

    &:focus-visible {
      background: var(--border-colour);
      outline: none;
    }
  }

  [role="menuitem"]:not(:last-child) {
    border-block-end: 2px solid var(--border-colour);
  }
}
