[role="radiogroup"].switch {
  border: 1px solid var(--body-colour-light);
  border-radius: 999px;
  width: fit-content;
  display: flex;
  position: relative;
  background: radial-gradient(
    circle at center,
    color-mix(in srgb, var(--action-colour) 45%, transparent) 0%,
    transparent 70%
  );
  box-shadow: 0 0 8px color-mix(in srgb, var(--action-colour) 25%, transparent);

  label {
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s;

    &:first-child {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    &:last-of-type {
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    &:not(:last-of-type) {
      border-inline-end: 1px solid var(--body-colour-light);
    }

    &:has(input:checked) {
      color: white;
      font-weight: bold;
    }

    &:has(input:not(:checked)) {
      box-shadow: inset 2px 2px 4px hsl(0 0 0 /0.2);
    }
  }

  input {
    position: fixed;
    top: -100vh;
  }

  &:focus-within {
    outline: 2px solid var(--body-colour);
  }

  .indicator {
    height: 100%;
    z-index: -1;
    position: absolute;
    --light: var(--action-colour);
    --dark: var(--action-colour-dark);
    background: linear-gradient(
      to bottom,
      color-mix(in srgb, var(--light) 14%, transparent) 0%,
      color-mix(in srgb, var(--light) 4%, transparent) 50%,
      color-mix(in srgb, var(--dark) 11%, transparent) 100%
    );
    box-shadow:
      inset 0 1px 1px color-mix(in srgb, white 65%, transparent),
      inset 0 -2px 3px color-mix(in srgb, var(--dark) 28%, transparent);
    backdrop-filter: blur(6px);
    transition-property: left, box-shadow, border-radius, background;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
}
