.weekly-task {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  width: 100%;

  .indicators {
    font-size: 1.4em;
    flex-grow: 1;

    .not-done {
      filter: grayscale(1);
      opacity: 0.3;
    }
  }
  .remainder {
    font-size: 0.7em;
    margin-inline-start: 0.2em;
  }
}
