.weekly-task {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  width: 100%;
  transition: all 0.2s ease-in;

  .remainder {
    font-size: 0.7em;
    margin-inline-start: 0.2em;
  }
}
