.today-task {
  --border-radius: 8px;
  all: unset;
  cursor: pointer;
  position: relative;
  box-shadow: -0.15em -0.15em 0.15em -0.075em rgba(5, 5, 5, 0.25),
    0.0375em 0.0375em 0.0675em 0 rgba(5, 5, 5, 0.1);
  width: 100%;
  font-family: "Quantico", sans-serif;
  font-size: 18px;

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: calc(100% + 0.3em);
    height: calc(100% + 0.3em);
    top: -0.15em;
    left: -0.15em;
    border-radius: inherit;
    background: linear-gradient(
      -135deg,
      rgba(5, 5, 5, 0.5),
      transparent 20%,
      transparent 100%
    );
    filter: blur(0.0125em);
    opacity: 0.25;
    mix-blend-mode: multiply;
  }

  .button-edge {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    transition: box-shadow 300ms ease;
    will-change: box-shadow;
    box-shadow: 0 0.05em 0.05em -0.01em rgba(5, 5, 5, 1),
      0 0.01em 0.01em -0.01em rgba(5, 5, 5, 0.5),
      0.15em 0.3em 0.1em -0.01em rgba(5, 5, 5, 0.25);
  }

  .button-surface {
    --inset: 0.035em;
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 12px 16px;
    background-image: linear-gradient(
      135deg,
      rgba(230, 230, 230, 1),
      rgba(233, 206, 171, 0.2)
    );
    transition: box-shadow 300ms ease, clip-path 250ms ease,
      background-image 250ms ease, transform 250ms ease;
    will-change: box-shadow, clip-path, background-image, transform;
    box-shadow: 0 0 0 0 inset rgba(5, 5, 5, 0.1),
      -0.05em -0.05em 0.05em 0 inset rgba(5, 5, 5, 0.25),
      0 0 0 0 inset rgba(5, 5, 5, 0.1),
      0 0 0.05em 0.2em inset rgba(255, 255, 255, 0.25),
      0.025em 0.05em 0.1em 0 inset rgba(255, 255, 255, 1),
      0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
      -0.075em -0.25em 0.25em 0.1em inset rgba(5, 5, 5, 0.25);

    span {
      display: flex;
      align-items: center;
      gap: 16px;
      position: relative;
      z-index: 4;
      transition: transform 250ms ease;
      will-change: transform;
      text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
    }
  }

  label.led {
    width: 20px;
    height: 12px;
    box-shadow: inset #304701 0 -1px 9px;
    background-color: hsla(0 0% 22% / 0.25);
    transition: box-shadow 0.2s, background-color 0.2s;
    cursor: pointer;

    input {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
}

li:first-child .today-task {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
li:last-child .today-task {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.today-task.status-done {
  .button-edge {
    box-shadow: 0 0 0 0 rgba(5, 5, 5, 1), 0 0 0 0 rgba(5, 5, 5, 0.5),
      0 0 0 0 rgba(5, 5, 5, 0.25);
  }

  .button-surface {
    box-shadow: 0.1em 0.15em 0.05em 0 inset hsla(0 0% 22% /0.75),
      -0.025em -0.03em 0.05em 0.025em inset hsla(0 0% 22%/ 0.5),
      0.25em 0.25em 0.2em 0 inset hsla(0 0% 22%/ 0.5),
      0 0 0.05em 0.5em inset rgba(255, 255, 255, 0.15),
      0 0 0 0 inset rgba(255, 255, 255, 1),
      0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
      -0.075em -0.12em 0.2em 0.1em inset hsla(0 0% 22% / 0.25);

    span {
      transform: scale(0.975);
    }
  }

  label.led {
    background-color: hsl(80, 100%, 50%);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
      inset hsl(80 0% 15%/0.5) 0 -1px 9px, hsl(88, 100%, 50%) 0 2px 12px;
  }
}
