.trainline {
  --hurstbridge-red: #d11c2e;
  list-style-type: none;
  margin: 0;
  margin-block-start: 140px;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-inline: auto;

  .station {
    display: block;
    width: 30px;
    height: 30px;
    border: 8px solid var(--hurstbridge-red);
    border-radius: 100px;
    position: relative;
    cursor: pointer;

    &.done {
      background-color: var(--hurstbridge-red);

      .distance {
        text-decoration: line-through;
      }
    }

    .name {
      transform: translate(15px, -150%) rotate(-1.125turn);
      transform-origin: bottom left;
      width: max-content;
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }

  li:not(:last-child) .station::after {
    content: "";
    width: 24px;
    height: 10px;
    background: var(--hurstbridge-red);
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translate(100%, -50%);
  }
}
