ul.other-goals {
  --light: hsl(203 96% 54%);
  --dark: hsl(203 96% 34%);

  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-end: 100px;

  li {
    width: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-block: 4px;
  }

  .bikes {
    display: flex;
    gap: 4px;
    padding: 0;
    align-items: center;

    li {
      anchor-scope: --bike-name;
      position: relative;
    }

    label {
      anchor-name: --bike-name;
    }

    label:not(.done) {
      opacity: 0.4;
      filter: grayscale(100%);
    }
    label.done {
      opacity: 1;
      filter: grayscale(0%);
    }
    label:hover {
      filter: grayscale(0%);
    }

    label + div {
      background: var(--body-colour);
      color: white;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
      padding: 6px 8px;
      font-size: 0.8em;
      border-radius: 4px;
    }

    label:hover + div {
      position-anchor: --bike-name;
      position-area: top right;
      opacity: 0.8;
    }
  }
}
