ul.other-goals {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    width: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-block: 4px;
    .volume {
      display: flex;
      gap: 8px;

      progress {
        appearance: none;
        -webkit-appearance: none;
        height: 12px;
        margin-block: 2px;
        border-radius: 4px;
        --light: hsl(203 96% 54%);
        --dark: hsl(203 96% 34%);
        &::-moz-progress-bar {
          background: linear-gradient(var(--light), var(--dark));
        }
        &::-webkit-progress-value {
          background: linear-gradient(var(--light), var(--dark));
          border-radius: 4px;
        }
        &::-webkit-progress-bar {
          border-radius: 4px;
          background: var(--border-colour);
        }
      }

      form {
        display: flex;
        flex-direction: row;

        input {
          border: 0;
          border-block-end: 1px solid var(--border-colour);
        }

        button {
          font-size: 12px;
          filter: grayscale(100%);
          transform: rotateY(0.5turn);

          &:hover,
          &:focus {
            filter: none;
          }
        }
      }
    }
  }

  .basic-goal {
    display: flex;
    gap: 12px;
    align-items: center;

    .switch {
      border-radius: 100px;

      .indicator {
        --dark: forestgreen;
        --light: limegreen;
      }
    }
  }

  .bikes {
    display: flex;
    gap: 4px;
    padding: 0;
    align-items: center;

    li {
      anchor-scope: --bike-name;
      position: relative;
    }

    label {
      anchor-name: --bike-name;
    }

    label:not(.done) {
      opacity: 0.4;
      filter: grayscale(100%);
    }
    label.done {
      opacity: 1;
      filter: grayscale(0%);
    }
    label:hover {
      filter: grayscale(0%);
    }

    label + div {
      background: var(--body-colour);
      color: white;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
      padding: 6px 8px;
      font-size: 0.8em;
      border-radius: 4px;
    }

    label:hover + div {
      position-anchor: --bike-name;
      position-area: top right;
      opacity: 0.8;
    }
  }
}
