ul.other-goals {
  --light: hsl(203 96% 54%);
  --dark: hsl(203 96% 34%);

  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-end: 100px;

  li {
    width: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-block: 4px;
  }

  .bikes {
    display: grid;
    grid-template-columns: repeat(8, 28px);
    gap: 2px;
    padding: 0;

    li {
      anchor-scope: --bike-name;
      position: relative;
      grid-column-end: span 2;
      width: auto;
      justify-content: center;
      margin: 0;
    }

    li:nth-child(1),
    li:nth-child(8) {
      grid-column-start: 2;
    }

    label {
      anchor-name: --bike-name;
      width: 52px;
      color: var(--body-colour);
    }

    svg {
      width: 46px;
    }

    label:not(.done) {
      opacity: 0.4;
      filter: grayscale(100%);
    }
    label.done {
      opacity: 1;
      filter: grayscale(0%);
    }
    label:hover {
      filter: grayscale(0%);
    }

    label + div {
      background: var(--body-colour);
      color: white;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
      padding: 6px 8px;
      font-size: 0.8em;
      border-radius: 4px;
    }

    label:hover + div {
      position-anchor: --bike-name;
      position-area: top right;
      opacity: 0.8;
    }
  }
}
