.yarn-tracking-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  padding: 6px 12px;
}

.yarn-tracking-form {
  display: grid;
  grid-template-columns: 6em 1fr;
  gap: 8px 12px;

  select {
    grid-column: 1/-1;
    appearance: base-select;

    &::picker(select) {
      appearance: base-select;
      border-radius: 8px;
      border-color: var(--border-colour);
    }

    button {
      all: unset;
      flex: 1;
    }

    button,
    selectedcontent,
    option {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    option {
      padding: 6px 8px;
    }
  }

  select,
  input {
    background: transparent;
    padding: 8px;
    border-radius: 8px;
    border-color: var(--border-colour);
    border-style: solid;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: var(--body-colour);
    }
  }

  .switch {
    isolation: isolate;
    width: 100%;
    border-radius: 15px;
    font-size: 24px;
    border-width: 2px;
    border-color: var(--border-colour);
    overflow: hidden;
    height: 100%;

    & > label {
      width: 50%;
      text-align: center;
      padding: 4px;
    }
  }
}
