.yarn-state {
  container-type: inline-size;
  width: 100%;

  ol {
    --ball-size: calc(100cqi / var(--balls-across));
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    padding: 0;
  }
}

.yarn-month {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  .yarn-type {
    display: flex;
    align-items: center;
    color: hsl(0 0% 55%);
  }

  .yarn-type[data-yarn-type='wool'] {
    color: hsl(256 80% 60%);
  }
  .yarn-type[data-yarn-type='cotton'] {
    color: hsl(194 97% 48%);
  }
  .yarn-type[data-yarn-type='acrylic'] {
    color: hsl(150 90% 49%);
  }
  .yarn-type[data-yarn-type='sock'] {
    color: hsl(305 94% 47%);
  }

  .ball {
    flex: none;
    display: flex;
    filter: drop-shadow(1px 2px 2px hsl(0 0 0 / 0.25));
  }

  .details {
    display: none;
    position: absolute;
    background: hsl(0 100% 100% / 0.92);
    color: var(--body-colour);
    padding: 12px;
    z-index: 1;
    left: 0;
    top: 5px;
    box-shadow:
      2px 2px 12px hsl(0 0 0 / 0.5),
      0px 0px 24px hsl(0 0 0 / 0.1);
    border-radius: 4px;
    white-space: nowrap;
  }

  .yarn-type:hover .details {
    display: block;
  }
}
