.yarn-state {
  width: 100%;
  text-align: center;
}

.yarn-pile {
  display: flow-root;
  position: relative;

  canvas {
    display: block;
  }

  .tooltip-anchor {
    position: absolute;
    pointer-events: none;
  }

  .tooltip {
    opacity: 1;
  }
}

.yarn-ball-list {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
