.yarn-state {
  flex-grow: 1;

  ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}

.yarn-month {
  height: 40px;
  border: 2px solid white;
  border-radius: 100px;
  display: flex;
  box-shadow:
    1px 1px 1px hsl(0 0 0/0.2),
    1px 1px 8px hsl(0 0 0/0.2),
    1px 1px 12px hsl(0 0 0 / 0.2);
  --gradient: linear-gradient(
    hsl(0 0 100%/0.2),
    transparent 5%,
    hsl(0 0 0/0.2) 95%
  );
  cursor: pointer;

  & > * {
    position: relative;
    box-shadow: inset 0 4px 4px hsl(0 100% 100%/0.4);
  }

  & > :first-child {
    background: var(--gradient), hsl(256, 80%, 60%);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  & > :nth-child(2) {
    background: var(--gradient), hsl(194, 97%, 48%);
  }
  & > :nth-child(3) {
    background: var(--gradient), hsl(150, 90%, 49%);
  }
  & > :last-child {
    background: var(--gradient), hsl(305, 94%, 47%);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .details {
    display: none;
    position: absolute;
    background: hsl(0 100% 100% / 0.8);
    padding: 12px;
    z-index: 1;
    left: 10px;
    top: 5px;
    box-shadow:
      2px 2px 12px hsl(0 0 0 / 0.5),
      0px 0px 24px hsl(0 0 0 / 0.1);
    border-radius: 4px;
  }

  :focus {
    outline: none;
    border: 1px solid white;
    z-index: 1;
    transform: scale(1.1);
  }

  :hover .details,
  :focus .details {
    display: block;
  }
}
