.draggable-item {
  position: relative;
}

.drop-indicator.top,
.drop-indicator.bottom {
  --stroke-size: 2px;
  --terminal-radius: 4px;
  --line-offset: -5px;
  --terminal-diameter: calc(var(--terminal-radius) * 2);
  --terminal-offset: calc(
    (var(--terminal-radius) + (var(--stroke-size) / 2)) * -1
  );
  position: absolute;
  background-color: var(--action-colour);
  pointer-events: none;
  height: var(--stroke-size);
  left: 0;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: var(--terminal-diameter);
    height: var(--terminal-diameter);
    border: var(--stroke-size) solid var(--action-colour);
    border-radius: 1000px;
  }

  &.top {
    top: var(--line-offset);
  }

  &.bottom {
    bottom: var(--line-offset);
  }
}

.drop-indicator.left,
.drop-indicator.right {
  width: 200px;
  height: 100%;
  background: color-mix(in hsl, var(--body-colour-light) 40%, transparent);
}

.drop-indicator.left {
  order: 1;
}
.drop-indicator.right {
  order: 3;
}
