.weekly-calories {
  --week: #9adb6c;
  --week-lowest: #3fae2a;
  --week-highest: #ff9d42;
  --axis: #dfe6c4;

  display: grid;
  grid-template-columns: repeat(53, minmax(12px, 1fr));
  align-items: end;
  gap: 3px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-block-end: 2px solid var(--axis);
  box-sizing: content-box;

  .week-container {
    anchor-scope: --label-text;
    display: contents;
  }

  .week {
    background: var(--week);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform-origin: bottom;

    &:hover + .hovertext {
      opacity: 1;
    }
  }

  .week-highest {
    background: var(--week-highest);
  }

  .week-lowest {
    background: var(--week-lowest);
  }
}

@keyframes grow-bar {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
