.daily {
  .emoji-checkbox {
    opacity: 0.4;
    filter: grayscale(50%);
  }
  .emoji-checkbox:hover,
  .emoji-checkbox:has(:focus-visible) {
    opacity: 1;
    filter: none;
  }
  .emoji-checkbox:has(:checked) {
    opacity: 1;
    filter: none;
  }
}

.daily-filters {
  display: flex;
  border: 2px solid var(--border-colour);
  border-radius: 8px;
  padding: 4px;
  font-size: 1.2em;
  width: max-content;
  margin-inline: auto;
  margin-block: 0;
  margin-block-start: 20px;
}

ol.days {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);

  &:has(.highlight) > li:not(.highlight) {
    opacity: 0.3;
  }

  & > li {
    border: 2px solid var(--border-colour);
    aspect-ratio: 1;
    border-radius: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;

    .balance {
      font-weight: bold;
    }

    &.balance-up,
    &.balance-down {
      box-shadow: inset 0 -4px 4px var(--balance-colour);
    }
    &.balance-up {
      --balance-colour: hsl(32, 82%, 64%);
    }
    &.balance-down {
      --balance-colour: hsl(105, 65%, 47%);
    }
  }

  h2 {
    font-size: 14px;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    button {
      display: none;
    }
  }

  .trackers {
    display: flex;
    flex-wrap: wrap;
    margin-block: auto;

    .single-value-container input {
      width: 24px;
    }

    button.tracker {
      padding: 0;
      height: unset;
    }
  }
}
