.daily {
  display: grid;
  grid-template-columns: min-content 1fr;

  .daily-filters {
    grid-column: 2;
  }
  .weekly {
    grid-row: 2;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    border-inline-start: 4px solid var(--border-colour);
    padding-block: 6px;
    height: min-content;
    margin-block-start: 40px;

    .week {
      height: 20px;
      background: linear-gradient(hsl(283 96% 44%), hsl(283 96% 34%));
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow:
        inset 0 3px hsl(0 100% 100% /0.3),
        1px 1px 8px hsl(0 0% 0% /0.3);
    }
  }

  .emoji-checkbox {
    opacity: 0.4;
    filter: grayscale(50%);
  }
  .emoji-checkbox:hover,
  .emoji-checkbox:has(:focus-visible) {
    opacity: 1;
    filter: none;
  }
  .emoji-checkbox:has(:checked) {
    opacity: 1;
    filter: none;
  }
}

.daily-filters {
  display: flex;
  border: 2px solid var(--border-colour);
  border-radius: 8px;
  padding: 4px;
  font-size: 1.2em;
  width: max-content;
  margin-inline: auto;
  margin-block: 0;
  margin-block-start: 20px;
}

ol.days {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 4px;

  &:has(.highlight) > li:not(.highlight) {
    opacity: 0.3;
  }

  & > li {
    border: 2px solid var(--border-colour);
    aspect-ratio: 1;
    border-radius: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    background: hsl(200 90% 96%/0.2);

    .balance {
      font-weight: bold;
    }

    &.balance-up,
    &.balance-down {
      box-shadow:
        inset -2px -2px 4px hsl(0 0 0/0.3),
        inset 0 -4px 4px var(--balance-colour);
    }
    &.balance-up {
      --balance-colour: hsl(32, 82%, 64%);
    }
    &.balance-down {
      --balance-colour: hsl(105, 65%, 47%);
    }
  }

  h2 {
    font-size: 14px;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    button {
      display: none;
    }
  }

  .trackers {
    display: flex;
    flex-wrap: wrap;
    margin-block: auto;

    .single-value-container input {
      width: 24px;
    }

    button.tracker {
      padding: 0;
      height: unset;
    }
  }
}
