form.add-today-task {
  flex-direction: row;
  gap: 8px;

  input {
    border: 0;
    border-radius: 0;
    border-block-end: 2px solid var(--border-colour);
    padding: 0;

    &:focus-visible {
      border-color: var(--body-colour);
      outline: none;
    }
  }

  select {
    background-color: transparent;
    border: 2px solid var(--border-colour);
    border-radius: 6px;
    font-size: 1em;

    &:focus-visible {
      border-color: var(--body-colour);
      outline: none;
    }
  }

  [type="submit"] {
    display: none;
  }
}
