.media-garden {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 24px;
  list-style-type: none;
  padding: 0;

  > li {
    display: flex;
    align-items: flex-end;
  }
}

.tree-silhouette {
  fill: hsl(80 16% 86%);
}

.tree-fill {
  fill: hsl(28 42% 48%);
}

.branch-names {
  fill: transparent;
}

.tree-outline {
  fill: none;
  stroke: hsl(28 45% 28%);
  stroke-linejoin: round;
}

.media-tree {
  position: relative;

  > form {
    position: absolute;
    inset-block-start: 100%;
    z-index: 1;
    background: white;
  }

  svg {
    display: block;
  }
}

.add-volume {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.signpost {
  position: absolute;
  inset-block-end: var(--ground);
  inset-inline-start: calc(50% + 16px);
  display: flex;
  flex-direction: column;
}

.sign-board {
  height: auto;
  padding-inline: 0.6em;
  border: 2px solid var(--body-colour);
  border-radius: 6px;
  background: hsl(33 72% 72%);
  white-space: nowrap;
}

.sign-posts {
  display: flex;
  padding-inline: 1em;
}

.sign-post {
  margin-inline: auto;
  width: 6px;
  height: 1.2em;
  border: 2px solid var(--body-colour);
  border-block-start: none;
  background: hsl(28 42% 48%);
}

.sign-post:has(+ .sign-post) {
  margin-inline: 0;
}

.sign-post + .sign-post {
  margin-inline-start: auto;
  margin-inline-end: 0;
}
