.game {
  .details {
    display: flex;
    flex-grow: 1;
    gap: 8px;
  }

  .details button {
    padding: 0;
    width: 24px;
    height: 24px;
    border: 0;
    transition: all 0.2s;
    filter: grayscale(100%) contrast(0.5);
    opacity: 0.4;

    &:hover {
      background: none;
      filter: grayscale(50%) contrast(0.5);
      opacity: 0.8;
    }
  }

  .details.in_progress button {
    transform: scale(1.1);
    text-shadow: 1px 1px hsl(0 0 0/0.1);
    filter: grayscale(0) contrast(1);
    opacity: 1;
  }
}
