.not-logged-in {
  display: grid;
  height: 100vh;

  button {
    margin: auto;
  }
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  border-block-end: 2px solid var(--border-colour);
  position: relative;

  &::before {
    content: "";
    height: 100%;
    background: var(--link-colour);
    position: absolute;
    left: var(--hover-left, 0);
    width: var(--hover-width);
    transition: all 0.2s;
  }

  li {
    padding: 0;
    margin-block-end: -2px;
    transition: all 2s;
    position: relative;

    a {
      display: block;
      text-decoration: none;
      color: inherit;
      padding-inline: 16px;
      padding-block: 8px;

      &.active {
        color: var(--link-colour);
        border-block-end: 2px solid currentColor;
      }

      &:focus-visible,
      &:hover {
        color: white;
        outline: none;
      }
    }
  }
}

.main-content {
  padding-inline: 30px;
  padding-block: 20px;
}
