.not-logged-in {
  display: grid;
  height: 100vh;

  button {
    margin: auto;
  }
}

.top-nav {
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  border-block-end: 2px solid white;
  margin-block-end: 1rem;
}

.main-content {
  padding-inline: 30px;
  padding-block: 20px;
}

.nav-item {
  padding: 0.5rem 1rem;
  margin-block-end: -2px;

  & .active {
    color: #2b6cb0;
    border-block-end: inherit;
    border-color: currentColor;
  }
}
