ul.projects {
  list-style-type: none;
}

.knitting-sewing {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto;
  gap: 4px;

  ul {
    grid-column: 1;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2px;
    flex-wrap: wrap;
  }

  & > div {
    grid-column: 2;
    grid-row: 1/-1;
    margin-inline-end: 40px;
    align-self: center;
  }

  .buttons {
    text-align: end;
    button:first-child {
      margin-inline-end: 4px;
    }
  }
}

.projects {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100%;
  gap: 2px;
}
