.projects-container {
  --shelf-gap: 9px;
  --small-h: 47px;
  --big-h: calc(var(--small-h) * 2 + var(--shelf-gap));
  --grid-unit: 8px;
  display: flex;
  flex-direction: column;

  ul.projects {
    list-style: none;
  }

  .projects {
    padding: 0;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: var(--small-h);
    grid-template-columns: repeat(auto-fill, var(--grid-unit));
    justify-content: center;
    gap: var(--shelf-gap);
    max-height: 100%;
  }

  .project-item {
    grid-column: span var(--col-span, 1);
    grid-row: span var(--row-span, 1);

    &.filtered-out {
      display: none;
    }
  }

  .projects-filter {
    display: flex;
    place-self: center;
    font-size: 1.2em;
    gap: 8px;
    border: 2px solid var(--border-colour);
    border-radius: 100px;
    padding-block: 4px;
    padding-inline: 12px;

    label.emoji-checkbox {
      opacity: 0.4;

      &:has(:checked) {
        opacity: 1;
        filter: none;
      }
    }
  }
}
