ul.projects {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  max-height: 90vh;
  width: fit-content;
  flex-wrap: wrap;
  gap: 2px;

  li {
    border: 1px solid black;
    padding-block: 10px;
    padding-inline: 20px;
    display: flex;
    gap: 12px;
    align-items: center;

    &.done {
      filter: grayscale(0.5);
      opacity: 0.5;
      text-decoration: line-through;
    }

    .actions {
      margin-inline-start: auto;
    }
  }
}
