.projects-container {
  display: flex;
  flex-direction: column;

  ul.projects {
    list-style: none;
  }

  .projects {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    gap: 2px;
    align-content: start;
    justify-content: center;
  }

  .projects-filter {
    display: flex;
    place-self: center;
    font-size: 1.2em;
    gap: 8px;
    border: 2px solid var(--border-colour);
    border-radius: 100px;
    padding-block: 4px;
    padding-inline: 12px;

    label.emoji-checkbox {
      opacity: 0.4;

      &:has(:checked) {
        opacity: 1;
        filter: none;
      }
    }
  }
}
