li.project {
  --project-colour-light: color(from var(--project-colour) srgb r g b / 0.2);
  flex-shrink: 0;
  border: 1px solid var(--border-colour);
  list-style-type: none;
  background: var(--project-colour-light);
  font-size: 18px;
  align-self: start;

  &.in_progress {
    outline: 2px solid var(--body-colour-light);
    outline-offset: -2px;
    filter: contrast(200%);
  }

  &.done {
    filter: grayscale(0.5);
    opacity: 0.5;
    text-decoration: line-through;
  }
  label.emoji-checkbox.done {
    filter: none;
    text-shadow: 1px 1px 4px hsl(0 0 0 /0.4);
  }

  .project-details {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-inline: 10px;
    padding-block: 5px;
    background: var(--project-colour);
  }

  button path {
    transition: all 0.2s;
  }

  button.expand:focus {
    outline: 2px solid var(--project-colour-light);
  }
  button.expand path {
    transform-origin: center;
    transform-box: stroke-box;
  }
  button.expand.expanded path {
    transform: rotate(0.5turn);
  }

  .copy-project-button {
    opacity: 0;
    margin-inline: 8px;
    transition: all 0.2s;
  }

  &:not(.done) {
    &:hover,
    &:focus-within {
      .copy-project-button {
        opacity: 1;
      }
    }
  }

  .subtasks-section {
    opacity: 0;
    overflow: hidden;
    transition:
      height 0.2s ease-out,
      opacity 0.1s 0.2s linear;

    &.visible {
      opacity: 1;
      margin-block-end: 12px;
      margin-block-start: 8px;
      overflow: visible;
    }
  }

  input {
    border: 0;
    border-radius: 0;

    &:focus {
      outline: 2px solid var(--project-colour);
      outline-offset: -2px;
    }
  }

  button.show-form {
    padding: 6px;
  }
  button.show-form:focus {
    outline: 2px solid var(--project-colour);
    outline-offset: -2px;
  }
  button.show-form.form-visible svg {
    transform: rotate(45deg);
  }

  form.add-subtask-form {
    opacity: 0;
    overflow: hidden;
    flex-direction: row;
    margin-inline-start: 10px;
    gap: 4px;
    transition:
      width 0.2s ease-out,
      opacity 0.1s 0.2s linear;

    &.visible {
      opacity: 1;
    }

    input {
      border-color: var(--body-colour-light);
      flex-grow: 1;
      font-size: 0.8em;
      padding-inline: 6px;
    }

    button:focus {
      outline: 2px solid var(--project-colour);
      outline-offset: -2px;
    }
  }

  ul.subtasks {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-block-start: 4px;
    padding-block-end: 8px;

    li {
      padding-block: 2px;

      &:not(:has(:checked)):hover .copy-button:not(.linked),
      &:not(:has(:checked)):focus-within .copy-button:not(.linked) {
        opacity: 1;
      }
    }
  }

  ul.subtasks,
  form.add-subtask-form.visible {
    padding-inline-start: 24px;
    padding-inline-end: 12px;
  }

  .subtask {
    display: flex;
    gap: 4px;
    align-items: center;

    label.checkbox .control {
      width: 1.2em;
      color: var(--body-colour-mid);
      border: 2px solid;

      &:has(+ :focus) {
        border-color: var(--project-colour);
      }
    }

    label:has(:checked) + div {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }

  .copy-button {
    opacity: 0;
    margin-inline-start: 12px;
    transition: all 0.2s;

    &:focus {
      outline: 2px solid var(--project-colour);
      outline-offset: 6px;
    }
  }
}
