.project-skeleton {
  height: 100%;
  border-radius: 7px;
  background-image: linear-gradient(
    to right,
    var(--border-colour-hover) 45%,
    var(--border-colour) 55%
  );
  background-size: 200%;
  animation: project-skeleton-shimmer 2s ease-out infinite alternate;
}

@keyframes project-skeleton-shimmer {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0;
  }
}
