table.exercise-tracker {
  border-collapse: collapse;
  width: fit-content;

  th,
  td {
    border: 1px solid black;
    padding: 8px;
  }

  th {
    width: 200px;
    text-align: start;
  }

  td {
    vertical-align: top;
    min-width: 120px;
    max-width: 300px;
    position: relative;

    .date {
      font-weight: bold;
      margin-block-end: 0.5em;
      padding-inline-end: 28px;
    }

    .recommendation {
      position: absolute;
      top: 8px;
      right: 8px;

      svg {
        position: absolute;
        right: 0;
        filter: drop-shadow(1px 1px 2px hsl(0 0% 0% / 0.4));
      }
    }

    &.add-update {
      vertical-align: middle;
      text-align: center;

      button {
        color: var(--action-colour);
        opacity: 1;
      }
    }
  }

  .exercise-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 4px;
      border: none;
      padding: 0;
      margin: 0;

      label {
        flex-direction: row;
        align-items: center;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}
