.tracker-switch {
  [role="radiogroup"].switch {
    border-radius: 999px;
    font-family: "Yuji Syuku", serif;
    padding: 4px;
    font-size: 1.15em;
    box-shadow:
      inset 2px 2px 5px hsl(0 0% 0% / 0.35),
      inset -1px -1px 2px hsl(0 0% 100% / 0.6);

    label {
      padding-block: 4px;

      &:not(:last-of-type) {
        border-inline-end: none;
      }

      &:has(input:not(:checked)) {
        box-shadow: none;
      }

      &:has(input:checked) {
        color: var(--action-colour-dark);
      }
    }

    .indicator {
      background: none;
      box-shadow: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 25%;
      width: 36px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: hsl(211 81% 60% / 0.15);
      box-shadow:
        0 0 4px 1px hsl(211 81% 55% / 0.6),
        0 0 14px 6px hsl(211 81% 55% / 0.45),
        inset 0 0 6px hsl(211 81% 55% / 0.3);
      transform: translate(-50%, -50%);
      transition: left 0.2s ease-out;
      pointer-events: none;
      z-index: -1;
    }

    &:has(input[value="日"]:checked)::before {
      left: 75%;
    }
  }
}

.tracker-stage {
  position: relative;
  height: 212px;
  width: 100%;
  margin-block-start: 16px;
}

.tracker-pane {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-out;

  &.active {
    opacity: 1;
    pointer-events: auto;
    /* enter transition is handled by contents instead of container */
    transition: none;
  }
}

.tracker-pane.active .weekly-calories .week {
  animation: grow-bar 0.5s ease-out;
}

.tracker-pane.active .day-grid .day-circle {
  animation: pop-in 0.4s ease-out both;
}

.hovertext-anchor {
  anchor-name: --label-text;
}

.hovertext {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  position-anchor: --label-text;
  position-area: top;
  margin-block-end: 8px;
  z-index: 1;
  background: var(--body-colour);
  color: white;
  padding: 6px 8px;
  font-size: 0.8em;
  border-radius: 4px;
  white-space: nowrap;
}
