.weekly-calories {
  display: grid;
  grid-template-columns: repeat(53, minmax(12px, 1fr));
  align-items: end;
  gap: 3px;
  height: 200px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-block-end: 4px solid var(--border-colour);
  padding-block-start: 8px;
  padding-inline: 6px;
  box-sizing: content-box;

  .week-container {
    anchor-scope: --label-text;
    display: contents;
  }

  .week {
    background: linear-gradient(90deg, hsl(283 96% 44%), hsl(283 96% 34%));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow:
      inset 3px 0 hsl(0 100% 100% /0.3),
      1px 1px 8px hsl(0 0% 0% /0.3);
    anchor-name: --label-text;
    transform-origin: bottom;

    &:hover + .hovertext {
      opacity: 1;
    }
  }

  .week-highest {
    background: linear-gradient(
      90deg,
      hsl(3.1 96.4% 43.9%),
      hsl(3.1 96.5% 33.9%)
    );
  }

  .week-lowest {
    background: linear-gradient(
      90deg,
      hsl(203.1 96.4% 43.9%),
      hsl(203.1 96.5% 33.9%)
    );
  }
}

@keyframes grow-bar {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
